@font-face {
    font-family: "cs-icons";
    src: url("../fonts/cs-icons.eot?a1efbb668117e45d331ba148a0dd9a98?#iefix") format("embedded-opentype"),
url("../fonts/cs-icons.woff2?a1efbb668117e45d331ba148a0dd9a98") format("woff2"),
url("../fonts/cs-icons.woff?a1efbb668117e45d331ba148a0dd9a98") format("woff"),
url("../fonts/cs-icons.ttf?a1efbb668117e45d331ba148a0dd9a98") format("truetype"),
url("../fonts/cs-icons.svg?a1efbb668117e45d331ba148a0dd9a98#cs-icons") format("svg");
}

i[class^="cs-icons-"]:before, i[class*=" cs-icons-"]:before {
    font-family: cs-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-icons-back:before {
    content: "\f101";
}
.cs-icons-beauty:before {
    content: "\f102";
}
.cs-icons-close:before {
    content: "\f103";
}
.cs-icons-copy:before {
    content: "\f104";
}
.cs-icons-delete:before {
    content: "\f105";
}
.cs-icons-events:before {
    content: "\f106";
}
.cs-icons-fashion:before {
    content: "\f107";
}
.cs-icons-menu:before {
    content: "\f108";
}
.cs-icons-movies:before {
    content: "\f109";
}
.cs-icons-music:before {
    content: "\f10a";
}
.cs-icons-new-videos:before {
    content: "\f10b";
}
.cs-icons-next:before {
    content: "\f10c";
}
.cs-icons-off-close:before {
    content: "\f10d";
}
.cs-icons-path:before {
    content: "\f10e";
}
.cs-icons-plus:before {
    content: "\f10f";
}
.cs-icons-search:before {
    content: "\f110";
}
.cs-icons-showbiz:before {
    content: "\f111";
}
.cs-icons-star:before {
    content: "\f112";
}
.cs-icons-tv:before {
    content: "\f113";
}
.cs-icons-up:before {
    content: "\f114";
}
.cs-icons-user:before {
    content: "\f115";
}
.cs-icons-viral:before {
    content: "\f116";
}
