@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "fonts";
@import "cs-icons";
@import "progress";
@import "modules/variables";
@import "modules/typography";
@import "modules/buttons";
@import "modules/navbar";
@import "modules/accordion";
@import "modules/utilities";
@import "modules/input";
@import "modules/card";
@import "modules/popovers";
@import "modules/alerts";
.landing {
    main {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        @media (max-width: 575px) {
            background-image: url('../images/mobile-hero-bg.jpg');
            background-position: top;
            background-size: 100%;
        }
        @media (min-width: 576px) and (max-width: 991px) {
            background-image: url('../images/hero-bg-middle.png');
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 530px;
            @media (min-width: 768px) {
                background-size: 640px;
            }
        }
        @media (min-width: 992px) {
            background-repeat: no-repeat;
            background-position: top right;
            background-image: url('../images/hero-bg.png');
            background-size: 726px;
            @media (min-width: 1200px) {
                background-size: 780px;
            }
            @media (min-width: 1400px) {
                background-size: 900px;
            }
            .wifi-registration {
                margin-top: 80px;
                margin-bottom: 80px;
            }
        }
        footer {
            margin-top: auto;
        }
    }
    .hero {
        min-height: calc(100vh - 0px);
        @media (max-width: 575px) {
            padding-top: 14vw;
        }
        @media (min-width: 576px) and (max-width: 991px) {
            padding-top: 230px;
            h3 {
                font-size: 49px;
            }
        }
        @media (min-width: 992px) {
            padding-top: 56px;
            h3 {
                font-size: 49px;
            }
        }
    }
}

.read-more-link {
    font-size: 0.75rem;
    font-weight: 500;
    color: $white;
    @media (min-width: 992px) {
        font-size: 1.375rem;
    }
    &:hover {
        color: $white;
    }
    &::before,
    &::after {
        font-family: cs-icons !important;
        content: "\f106";
        color: $white;
        font-size: 0.6rem;
    }
    &.collapsed::after,
    &.collapsed::before {
        content: "\f114";
    }
    .show-expanded {
        display: none;
    }
    .show-collapsed {
        display: inline-block;
    }
    &.collapsed {
        .show-expanded {
            display: inline-block;
        }
        .show-collapsed {
            display: none;
        }
    }
}

.read-more-list {
    list-style-type: none;
    li {
        position: relative;
        font-size: 0.75rem;
        font-weight: 500;
        color: $white;
        text-align: start;
        margin-bottom: 1.25rem;
        span,
        a {
            color: $hotpink;
        }
    }
}

.link-style {
    color: $white;
    padding: 0 9px;
    font-size: 1rem;
    @media (min-width: 1200px) {
        font-size: 2.625rem;
    }
}

textarea {
    resize: none;
}

.copyright {
    font-size: 12px;
    @media (min-width: 768px) {
        font-size: 23px;
    }
}

.hero {
    background: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
        background: url("../images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-control {
        background-color: $white;
        padding: 10px 16px;
        border-radius: 11px;
    }
    .profile-select.custom-select .select-selected,
    .select-items {
        background-color: $white!important;
        padding: 10px 16px;
        border-radius: 11px;
        div {
            color: $black!important;
        }
    }
    .same-as-selected {
        background-color: $tomato!important;
        color: $white!important;
    }
}

.search {
    background-color: $darkgrey;
    .form-control {
        color: $white;
        background: rgba(142, 142, 147, 0.5);
        border-radius: 7px;
        padding: 12px 14px;
    }
    .input-group-text {
        color: $white;
        background: #FF4A65;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 3px 17px rgba(0, 0, 0, 0.14);
        border-radius: 0px 7px 7px 0px;
        border: none;
    }
    input {
        &:focus {
            border-color: #2d2d2d;
            box-shadow: none;
            &~.input-group-text {
                border-color: #2d2d2d;
            }
        }
    }
    label {
        color: $darkgrey;
        font-size: 12px;
        font-weight: 300;
        padding: 15px 0;
    }
    .border-bottom {
        border-bottom: 1px solid #1b9eff38!important;
    }
}

.card-bg-style {
    background: rgba(25, 22, 38, 0.95);
    box-shadow: 0px 2.83916px 2.83916px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 53px 26px;
    ul {
        li {
            a {
                font-size: 12px;
                @media (min-width: 768px) {
                    font-size: 24px;
                }
            }
        }
    }
}

.descr-border-bottom {
    position: relative;
    padding-bottom: 20px;
    @media (min-width: 768px) {
        padding-bottom: 46px;
    }
    &::after {
        content: "";
        display: block;
        width: 243px;
        color: $white;
        border-width: 0.7px;
        border-style: dashed solid;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -120px;
    }
}

.input-label {
    font-size: 11px;
    @media (max-width: 414px) {
        font-size: 9px;
    }
}

.close {
    border: none !important;
    background-color: transparent !important;
    opacity: 1;
}

.return-link {
    position: absolute;
    height: 100%;
    display: flex;
    @media (min-width: 1200px) {
        top: 8px;
    }
    left: 2rem;
}


/* Custom select */

.custom-select {
    position: relative;
    select {
        display: none;
    }
    .select-selected {
        background: $white;
        border-radius: 11px;
        text-align: start;
        border: none;
        &::after {
            font-family: cs-icons !important;
            content: "\f106";
            color: $white;
            position: absolute;
            font-size: 10px;
            display: inline-block;
            right: 10px;
            top: 24px;
        }
        &.select-arrow-active {
            border: 3px solid $midnightblue;
        }
    }
    .select-arrow-active:after {
        transform: rotate( 180deg);
        top: 18px;
    }
    .select-items {
        position: absolute;
        background: #F8F8F8;
        border-radius: 10px;
        text-align: start;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 12px 0;
        margin-top: 12px;
        .same-as-selected {
            background-color: $midnightblue;
            color: $white;
            border-radius: 0;
        }
    }
    .select-items div,
    .select-selected {
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
        color: #9E9E9E;
        padding: 18px 14px;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
    }
    .select-items div {
        font-weight: 500;
        font-size: 18px;
        color: $midnightblue;
        @media (max-width: 414px) {
            font-size: 14px;
            padding: 10px 20px 10px 20px;
        }
    }
    .select-hide {
        display: none;
    }
}

.profile-select.custom-select .select-selected,
.select-items {
    background: $midnightblue!important;
    border: none;
    div {
        font-size: 12px!important;
        color: $white!important;
    }
}

.modal {
    .wow-backdrop {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: calc(100% + 104px + 64px);
            width: 100vw;
            z-index: -1;
            top: -104px;
            right: 0;
            left: calc((100% - 100vw) / 2);
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/wow-backdrop.svg');
        }
        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/wow-confetti.svg');
            height: calc(100% + 104px + 64px);
            width: 100vw;
            background-repeat: no-repeat;
            background-position: 50% 30%;
            z-index: 1;
            top: -104px;
            right: 0;
            left: calc((100% - 100vw) / 2);
            pointer-events: none;
        }
    }
    .top-icon-block {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        &>* {
            max-width: 90px;
        }
    }
    @media (orientation: landscape) and (max-height: 412px) {
        .pt-140px {
            padding-top: 64px;
        }
    }
}

.footer {
    .list-items {
        .list-item {
            padding: 0 16px;
            .list-link {
                font-size: 14px;
            }
        }
    }
    .copyright {
        font-size: 12px;
    }
}

.card-img {
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.owl-carousel {
    display: block;
}

.dropdown-toggle {
    &::after {
        content: none;
    }
}

@media (min-width: 992px) {
    .card-img {
        object-fit: cover;
        object-position: top;
        height: 65vh;
    }
}

@media (min-width: 1200px) {
    .card {
        .read-more-list {
            li {
                font-size: 1.5rem;
                &::before {
                    font-size: 6px;
                    top: 12px;
                    left: -22px;
                }
            }
        }
    }
    .footer {
        .list-items {
            .list-item {
                padding: 0 30px;
                .list-link {
                    font-size: 25px;
                }
            }
        }
        .copyright {
            font-size: 22px;
        }
    }
}