@charset "UTF-8";
@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.eot");
  src: url("../fonts/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../fonts/Poppins-LightItalic.woff") format("woff"), url("../fonts/Poppins-LightItalic.ttf") format("truetype"), url("../fonts/Poppins-LightItalic.svg#Poppins-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "cs-icons";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("../fonts/cs-icons.eot?029bc60c0f0ad4ee305e9269329db00a?#iefix") format("embedded-opentype"), url("../fonts/cs-icons.woff2?029bc60c0f0ad4ee305e9269329db00a") format("woff2"), url("../fonts/cs-icons.woff?029bc60c0f0ad4ee305e9269329db00a") format("woff"), url("../fonts/cs-icons.ttf?029bc60c0f0ad4ee305e9269329db00a") format("truetype"), url("../fonts/cs-icons.svg?029bc60c0f0ad4ee305e9269329db00a#cs-icons") format("svg");
}
[class^=cs-icons-],
[class*=" cs-icons-"] {
  font-family: cs-icons !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-icons-back:before {
  content: "";
}

.cs-icons-beauty:before {
  content: "";
}

.cs-icons-close:before {
  content: "";
}

.cs-icons-copy:before {
  content: "";
}

.cs-icons-delete:before {
  content: "";
}

.cs-icons-down:before {
  content: "";
}

.cs-icons-events:before {
  content: "";
}

.cs-icons-fashion:before {
  content: "";
}

.cs-icons-menu:before {
  content: "";
}

.cs-icons-movies:before {
  content: "";
}

.cs-icons-music:before {
  content: "";
}

.cs-icons-new-videos:before {
  content: "";
}

.cs-icons-next:before {
  content: "";
}

.cs-icons-off-close:before {
  content: "";
}

.cs-icons-path:before {
  content: "";
}

.cs-icons-plus:before {
  content: "";
}

.cs-icons-search:before {
  content: "";
}

.cs-icons-showbiz:before {
  content: "";
}

.cs-icons-star:before {
  content: "";
}

.cs-icons-tv:before {
  content: "";
}

.cs-icons-up:before {
  content: "";
}

.cs-icons-user:before {
  content: "";
}

.cs-icons-viral:before {
  content: "";
}

body {
  font-family: "Poppins";
  background-color: #090919;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #FFFFFF;
}

p {
  margin-bottom: 0;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #FFFFFF;
}
h1 span {
  font-size: 1.25rem;
}

h2 {
  font-weight: 800;
  font-size: 1.25rem;
  color: #FFFFFF;
}

h3 {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
}

h4 {
  font-weight: 800;
  font-size: 1.125rem;
  color: #2D2942;
}

.subscription-title {
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
}

.subtitle {
  font-weight: 500;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.description {
  font-weight: 500;
  font-size: 0.75rem;
  color: #FFFFFF;
}

.text-secondary {
  color: #191626 !important;
}

.text-muted {
  color: #9E9E9E !important;
}

.text-grey {
  color: #C1C0C0;
}

.text-pink {
  color: #F54B64;
}

.text-primary {
  color: #2D2942 !important;
}

.text-violet-red {
  color: #FF4AC1;
}

.text-danger {
  color: #FF4A65 !important;
}

.bg-primary {
  background: #2D2942 !important;
}

.bg-light {
  background: #F7F8F9 !important;
}

.bg-dark {
  background-color: #191626 !important;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.063rem;
  }
  h1 span {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1.375rem;
  }

  .title {
    font-size: 0.875rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .product-description {
    font-size: 1rem;
  }

  .pt-22px {
    padding-top: 90px !important;
  }

  .subscription-title {
    font-size: 1.25rem;
  }
}
.btn {
  font-weight: 500;
}
.btn:focus {
  box-shadow: none;
}

.btn-primary {
  font-size: 14px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #FF3A49 0%, #FF545B 100%);
  border: 2px solid #FF3038;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 3px 17px rgba(0, 0, 0, 0.14);
  border-radius: 23px;
  padding: 12px 30px;
}
@media (min-width: 1200px) {
  .btn-primary {
    font-size: 22px;
    padding: 18px 46px;
    border-radius: 32px;
  }
}
.btn-primary:focus, .btn-primary:active {
  box-shadow: none;
  border-color: #FF3038;
}
.btn-primary:hover {
  background-color: #FF4A65;
  border-color: #FF3038;
}

.btn-outline-primary {
  font-size: 14px;
  color: #FFFFFF;
  border: 2px solid #FF3038;
  box-shadow: inset 0px 3px 16px rgba(0, 0, 0, 0.14);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border-radius: 22px;
  padding: 8px 12px;
}
.btn-outline-primary:hover {
  background-color: #FF4A65;
  border-color: #FF3038;
}
.btn-outline-primary:focus, .btn-outline-primary:active {
  box-shadow: none;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: none;
}

.btn-secondary {
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #898989 0%, #A9A9A9 100%);
  border: 2.05755px solid #9C9C9C;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 13px rgba(0, 0, 0, 0.14);
  border-radius: 23px;
  padding: 12px 30px;
}
@media (min-width: 1200px) {
  .btn-secondary {
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 42px;
  }
}
.btn-secondary:hover {
  background: linear-gradient(90deg, #898989 0%, #A9A9A9 100%);
  border-color: #9C9C9C;
}
.btn-secondary:focus, .btn-secondary:active {
  box-shadow: none;
}

.modal .btn {
  font-size: 16px;
}
@media (min-width: 1200px) {
  .modal .btn {
    font-size: 22px;
  }
}
.modal .btn-primary {
  padding: 9px 30px;
}
.modal .btn-secondary {
  padding: 9px 30px;
}

.btn-link {
  font-weight: 600;
  font-size: 14px;
  color: #F54B64;
}
.btn-link:hover {
  color: #F54B64;
}
@media (min-width: 1200px) {
  .btn-link {
    font-size: 18px;
  }
}

.btn-light {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  background: #2D2942;
  border-color: transparent;
  border-radius: 7px;
  padding: 16px 26px;
}

.navbar {
  background: #191626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.navbar.menu-visible {
  background: #0D0D1C;
}

.navbar-expand .navbar-nav .dropdown-toggle .dropdown-icon-open {
  display: none;
}
.navbar-expand .navbar-nav .dropdown-toggle .dropdown-icon-close {
  display: inline-block;
}
.navbar-expand .navbar-nav .dropdown-toggle.show .dropdown-icon-open {
  display: inline-block;
}
.navbar-expand .navbar-nav .dropdown-toggle.show .dropdown-icon-close {
  display: none;
}
.navbar-expand .navbar-nav .dropdown-toggle.show:before {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 22, 38, 0.8);
  content: "";
  z-index: 1;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: fixed;
  left: 0;
  top: 56px;
  margin-top: 0;
  max-height: calc(100vh - 56px);
  overflow-y: scroll;
  border-top: 0;
  background: #191626;
}
.navbar-expand .navbar-nav .dropdown-menu.show {
  background: #0D0D1C;
}
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item {
  color: #FFFFFF;
  padding: 10px 30px;
}
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item i {
  color: #FF4A65;
}
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-expand .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #FF4A65;
}
.navbar-expand .navbar-nav .dropdown-menu .dropdown-item:focus i, .navbar-expand .navbar-nav .dropdown-menu .dropdown-item:hover i {
  color: #FFFFFF;
}

.accordion-button {
  background-color: transparent !important;
  font-weight: 500;
  font-size: 0.813rem !important;
  color: #FFFFFF;
  padding: 24px;
  border-radius: 0.438rem;
}
.accordion-button span {
  font-size: 16px !important;
  padding-top: 6px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  font-family: cs-icons !important;
  content: "";
  color: #FFFFFF;
  font-size: 10px;
  background-image: none;
}

.accordion-button:not(.collapsed) {
  color: #F54B64;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  margin-top: -7px;
}

.accordion-item {
  background: #2D2942;
  border-radius: 0.438rem;
  border: none;
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.438rem;
  border-top-right-radius: 0.438rem;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 0.438rem;
  border-bottom-left-radius: 0.438rem;
}
.accordion-item.accordion-collapse.collapse.show {
  background: #2D2942;
}

.accordion-body {
  color: #FFFFFF;
  font-size: 0.813rem;
  padding: 0 24px 15px 24px;
}

.rounded-4 {
  border-radius: 0.438rem !important;
}

.rounded {
  border-radius: 1.438 !important;
}

.shadow {
  box-shadow: 0px 4.174px 4.174px rgba(0, 0, 0, 0.25) !important;
}

.border-5 {
  border: 7px solid #FF4A65 !important;
}

.font-size-9px {
  font-size: 9px;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-13px {
  font-size: 13px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-36px {
  font-size: 36px;
}

.pt-22px {
  padding-top: 22px;
}

.pt-60px {
  padding-top: 60px;
}

.pt-70px {
  padding-top: 70px;
}

.pt-140px {
  padding-top: 140px;
}

.pt-160px {
  padding-top: 160px;
}

.pb-140px {
  padding-bottom: 140px;
}

.mt-30px {
  margin-top: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-500 {
  font-weight: 500;
}

.w-16 {
  width: 16%;
}

.h-16 {
  height: 16%;
}

.w-22px {
  width: 22px;
}

.w-290px {
  width: 290px;
}

.h-290px {
  height: 290px;
}

@media (min-width: 1200px) {
  .font-size-9px {
    font-size: 12px;
  }

  .font-size-10px {
    font-size: 14px;
  }

  .font-size-11px {
    font-size: 17px;
  }

  .font-size-13px {
    font-size: 20px;
  }

  .font-size-xl-30px {
    font-size: 30px;
  }

  .mb-lg-300px {
    margin-bottom: 300px;
  }
}
@media (max-width: 414px) {
  .pb-140px {
    padding-bottom: 90px;
  }
}
@media (min-width: 414px) {
  .w-16 {
    width: 8%;
  }

  .h-16 {
    height: 8%;
  }
}
.form-label {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.form-control {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  background: #2D2942;
  border-radius: 7px;
  padding: 15px 13px;
  border: none;
}
.form-control:focus {
  color: #FFFFFF;
  box-shadow: none;
}
.form-control::placeholder {
  color: #9E9E9E;
}
.form-control.unstyled-input {
  box-shadow: none;
  color: #FF4A65;
  border-radius: 0;
  padding: 23px 0 0 0;
  border-bottom: 2px solid #FF4A65;
}
.form-control.unstyled-input:focus {
  box-shadow: none;
  background-color: transparent;
}

.form-control:disabled,
.form-control[readonly] {
  background: transparent;
}
.form-control:disabled::placeholder,
.form-control[readonly]::placeholder {
  color: #FF4A65;
}

.input-group.search {
  border: 0;
  background: #F8F8F8;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(43, 42, 110, 0.5);
}
.input-group.search .input-group-text {
  background: #F8F8F8;
  border: 0;
  border-radius: 10px;
}
.input-group.search .input-group-text::before {
  font-family: "icomoon";
  display: inline-block;
  content: "";
  font-size: 14px;
  color: #2D2942;
}
.input-group.search .form-control {
  padding: 12px;
  border-left: 0;
  border: none;
  box-shadow: none;
}
.input-group.search .form-control:focus {
  background-color: transparent;
}

.card {
  background: #191626;
  opacity: 0.9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.125rem;
  border: none;
  padding: 1.813rem 1.625rem;
  position: relative;
}
.card .card-text {
  font-weight: 500;
  font-size: 12px;
  color: #464482;
}
@media (max-width: 576px) {
  .card {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .collapse .card .card-text {
    font-size: 19px;
  }
}
.owl-carousel .card {
  padding: 0;
  border-top-left-radius: 1.125rem;
  border-top-right-radius: 1.125rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.owl-carousel .card .card-body {
  padding: 12px 8px;
}
.owl-carousel .card .card-body .card-title {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.688rem;
}

.alert {
  font-weight: 600;
  font-size: 0.688rem;
  border-radius: 0;
  margin-bottom: 0;
}

.alert-danger {
  color: #FFFFFF;
  background: linear-gradient(219.63deg, #FF5624 -195.99%, #FF4A65 -125.55%);
  border-color: transparent;
  padding: 0.875rem 1.75rem;
}

.landing main {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .landing main {
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("../images/hero-bg.png");
    background-size: 726px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .landing main {
    background-size: 780px;
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  .landing main {
    background-size: 900px;
  }
}
@media (min-width: 1200px) {
  .landing main .wifi-registration {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.landing main footer {
  margin-top: auto;
}
.landing .hero {
  min-height: calc(100vh - 0px);
}
@media (max-width: 575px) {
  .landing .hero {
    padding-top: 14vw;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .landing .hero h3 {
    font-size: 49px;
  }
}
@media (min-width: 1200px) {
  .landing .hero h3 {
    font-size: 49px;
  }
}

.read-more-link {
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .read-more-link {
    font-size: 1.375rem;
  }
}
.read-more-link:hover {
  color: #FFFFFF;
}
.read-more-link::before, .read-more-link::after {
  font-family: cs-icons !important;
  content: "";
  color: #FFFFFF;
  font-size: 0.6rem;
}
.read-more-link.collapsed::after, .read-more-link.collapsed::before {
  content: "";
}
.read-more-link .show-expanded {
  display: none;
}
.read-more-link .show-collapsed {
  display: inline-block;
}
.read-more-link.collapsed .show-expanded {
  display: inline-block;
}
.read-more-link.collapsed .show-collapsed {
  display: none;
}

.read-more-list {
  list-style-type: none;
  padding: 1.813rem 1.625rem;
}
.read-more-list li {
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  color: #FFFFFF;
  text-align: start;
  margin-bottom: 1.25rem;
}
.read-more-list li span,
.read-more-list li a {
  color: #FF4B65;
}
@media (min-width: 1200px) {
  .read-more-list li {
    font-size: 0.875rem;
  }
}
@media (min-width: 1200px) {
  .read-more-list {
    padding: 5.75rem 4.25rem;
  }
}

.link-style {
  color: #FFFFFF;
  padding: 0 9px;
  font-size: 1rem;
}
.link-style:hover, .link-style:focus {
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .link-style {
    font-size: 2.625rem;
  }
}

textarea {
  resize: none;
}

.copyright {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .copyright {
    font-size: 23px;
  }
}

.hero {
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .hero {
    background: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero .form-control {
  background-color: #FFFFFF;
  padding: 10px 16px;
  border-radius: 11px;
}
.hero .profile-select.custom-select .select-selected,
.hero .select-items {
  background-color: #FFFFFF !important;
  padding: 10px 16px;
  border-radius: 11px;
}
.hero .profile-select.custom-select .select-selected div,
.hero .select-items div {
  color: #090919 !important;
}
.hero .same-as-selected {
  background-color: #FF4D56 !important;
  color: #FFFFFF !important;
}

.search .form-control {
  color: #FFFFFF;
  background: rgba(142, 142, 147, 0.5);
  border-radius: 7px;
  padding: 12px 14px;
}
.search .input-group-text {
  color: #FFFFFF;
  background: #FF4A65;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 3px 17px rgba(0, 0, 0, 0.14);
  border-radius: 0px 7px 7px 0px;
  border: none;
}
.search input:focus {
  border-color: #2d2d2d;
  box-shadow: none;
}
.search input:focus ~ .input-group-text {
  border-color: #2d2d2d;
}
.search label {
  color: #191626;
  font-size: 12px;
  font-weight: 300;
  padding: 15px 0;
}
.search .border-bottom {
  border-bottom: 1px solid #1b9eff38 !important;
}

.card-bg-style {
  background: rgba(25, 22, 38, 0.95);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 3.313rem 1.625rem;
}
.card-bg-style ul li {
  font-size: 0.75rem;
}
@media (min-width: 1200px) {
  .card-bg-style ul li {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card-bg-style {
    padding: 4rem 5.625rem;
  }
}

.descr-border-bottom {
  position: relative;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .descr-border-bottom {
    padding-bottom: 46px;
  }
}
.descr-border-bottom::after {
  content: "";
  display: block;
  width: 243px;
  color: #FFFFFF;
  border-width: 0.7px;
  border-style: dashed solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;
}

.input-label {
  font-size: 11px;
}
@media (max-width: 414px) {
  .input-label {
    font-size: 9px;
  }
}

.close {
  border: none !important;
  background-color: transparent !important;
  opacity: 1;
}

.return-link {
  position: absolute;
  height: 100%;
  display: flex;
  left: 2rem;
}
@media (min-width: 1200px) {
  .return-link {
    top: 8px;
  }
}

/* Custom select */
.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  background: #2D2942;
  border-radius: 11px;
  text-align: start;
  border: none;
}
.custom-select .select-selected::after {
  font-family: cs-icons !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  color: #FFFFFF;
  position: absolute;
  font-size: 10px;
  display: inline-block;
  right: 12px;
  top: 20px;
}
.custom-select .select-arrow-active:after {
  transform: rotate(180deg);
  top: 20px;
}
.custom-select .select-items {
  position: absolute;
  background: #F8F8F8;
  border-radius: 10px;
  text-align: start;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 12px 0;
  margin-top: 12px;
}
.custom-select .select-items .same-as-selected {
  background-color: #2D2942;
  color: #FFFFFF;
  border-radius: 0;
}
.custom-select .select-items div,
.custom-select .select-selected {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  padding: 15px 13px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.custom-select .select-items div.placeholder-value,
.custom-select .select-selected.placeholder-value {
  color: #9E9E9E;
}
.custom-select .select-items div {
  font-weight: 500;
  font-size: 18px;
  color: #2D2942;
}
@media (max-width: 414px) {
  .custom-select .select-items div {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
  }
}
.custom-select .select-hide {
  display: none;
}

.profile-select.custom-select .select-selected::after {
  color: #090919;
  top: 14px;
}

.profile-select.custom-select .select-selected,
.select-items {
  background: #2D2942 !important;
  border: none;
}
.profile-select.custom-select .select-selected div,
.select-items div {
  font-size: 12px !important;
  color: #FFFFFF !important;
}

.modal .wow-backdrop {
  position: relative;
}
.modal .wow-backdrop::before {
  content: "";
  position: absolute;
  height: calc(100% + 104px + 64px);
  width: 100vw;
  z-index: -1;
  top: -104px;
  right: 0;
  left: calc((100% - 100vw) / 2);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/wow-backdrop.svg");
}
.modal .wow-backdrop::after {
  content: "";
  position: absolute;
  background-image: url("../images/wow-confetti.svg");
  height: calc(100% + 104px + 64px);
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  z-index: 1;
  top: -104px;
  right: 0;
  left: calc((100% - 100vw) / 2);
  pointer-events: none;
}
.modal .top-icon-block {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
}
.modal .top-icon-block > * {
  max-width: 90px;
}
@media (orientation: landscape) and (max-height: 412px) {
  .modal .pt-140px {
    padding-top: 64px;
  }
}

.footer .list-items .list-item {
  padding: 0 16px;
}
.footer .list-items .list-item .list-link {
  font-size: 14px;
}
.footer .copyright {
  font-size: 12px;
}

.card-img {
  object-fit: cover;
  object-position: top;
  height: 40vh;
}

.owl-carousel {
  display: block;
}

.dropdown-toggle::after {
  content: none;
}

.modal-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.438rem;
}

@media (min-width: 1200px) {
  .card-img {
    object-fit: cover;
    object-position: top;
    height: 65vh;
  }
}
@media (min-width: 1200px) {
  .card .read-more-list li {
    font-size: 1.5rem;
  }
  .card .read-more-list li::before {
    font-size: 6px;
    top: 12px;
    left: -22px;
  }

  .footer .list-items .list-item {
    padding: 0 30px;
  }
  .footer .list-items .list-item .list-link {
    font-size: 25px;
  }
  .footer .copyright {
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
