.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: none;
    border-top: 0;
    background: rgba(84, 82, 92, .95);
    color: $white;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    padding: 1rem 0;
    border-radius: 0.25rem;
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    transform: translateY(.5rem);
    @media (max-width: 576px) {
        min-width: calc(100vw - 2rem);
    }
}

.autocomplete-suggestion {
    position: relative;
    padding: 0.2rem 1rem;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    color: $white;
}

.autocomplete-suggestion strong {
    color: $pink;
}

.autocomplete-suggestion.autocomplete-selected {
    background-color: $pink !important;
    color: $white;
    strong {
        color: $white;
    }
    cursor: pointer;
}
