.btn {
    font-weight: 500;
    &:focus {
        box-shadow: none;
    }
}

.btn-primary {
    font-size: 14px;
    color: $white;
    background: linear-gradient(90deg, #FF3A49 0%, #FF545B 100%);
    border: 2px solid #FF3038;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), inset 0px 3px 17px rgba(0, 0, 0, 0.14);
    border-radius: 23px;
    padding: 12px 30px;
    @media (min-width: 1200px) {
        font-size: 22px;
        padding: 18px 46px;
        border-radius: 32px;
    }
    &:focus,
    &:active {
        box-shadow: none;
        border-color: $red;
    }
    &:hover {
        background-color: $pink;
        border-color: $red;
    }
}

.btn-outline-primary {
    font-size: 14px;
    color: $white;
    border: 2px solid #FF3038;
    box-shadow: inset 0px 3px 16px rgba(0, 0, 0, 0.14);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border-radius: 22px;
    padding: 9px 30px;
    &:hover {
        background-color: $pink;
        border-color: $red;
    }
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: none;
}

.btn-secondary {
    font-size: 16px;
    color: $white;
    background: linear-gradient(90deg, #898989 0%, #A9A9A9 100%);
    border: 2.05755px solid #9C9C9C;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 13px rgba(0, 0, 0, 0.14);
    border-radius: 23px;
    padding: 12px 30px;
    @media (min-width: 1200px) {
        font-size: 20px;
        padding: 18px 30px;
        border-radius: 42px;
    }
    &:hover {
        background: linear-gradient(90deg, #898989 0%, #A9A9A9 100%);
        border-color: #9C9C9C;
    }
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.modal {
    .btn {
        font-size: 16px;
        @media (min-width: 1200px) {
            font-size: 22px;
        }
    }
    .btn-primary {
        padding: 9px 30px;
    }
    .btn-secondary {
        padding: 9px 30px;
    }
}

.btn-link {
    font-weight: 600;
    font-size: 14px;
    color: $deeppink;
    &:hover {
        color: $deeppink;
    }
    @media (min-width: 1200px) {
        font-size: 18px;
    }
}

.btn-light {
    font-weight: 400;
    font-size: 12px;
    color: $white;
    background: $midnightblue;
    border-color: transparent;
    border-radius: 7px;
    padding: 16px 26px;
}