.navbar {
    background: $darkgrey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0.75rem 0;
    min-height: 64px;
    &.menu-visible {
        background: #0D0D1C;
    }
    @media (min-width: 992px) {
        padding: 1rem 0;
    }
}

$navbar-height: 56px;
.navbar-expand .navbar-nav {
    .dropdown-toggle {
        .dropdown-icon-open {
            display: none;
        }
        .dropdown-icon-close {
            display: inline-block;
        }
        &.show {
            .dropdown-icon-open {
                display: inline-block;
            }
            .dropdown-icon-close {
                display: none;
            }
            &:before {
                position: fixed;
                top: $navbar-height;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(25, 22, 38, 0.8);
                content: '';
                z-index: 1;
            }
        }
    }
    .dropdown-menu {
        position: fixed;
        left: 0;
        top: $navbar-height;
        margin-top: 0;
        max-height: calc(100vh - #{$navbar-height});
        overflow-y: scroll;
        border-top: 0;
        background: $darkgrey;
        &.show {
            background: #0D0D1C;
        }
        .dropdown-item {
            color: $white;
            padding: 10px 30px;
            i {
                color: $pink;
            }
            &:focus,
            &:hover {
                background-color: $pink;
                i {
                    color: $white;
                }
            }
        }
    }
}