.navbar {
    background: $darkgrey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.navbar-expand .navbar-nav {
    .dropdown-toggle {
        .dropdown-icon-open {
            display: none;
        }
        .dropdown-icon-close {
            display: inline-block;
        }
        &.show {
            .dropdown-icon-open {
                display: inline-block;
            }
            .dropdown-icon-close {
                display: none;
            }
            &:before {
                position: fixed;
                top: 56px;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(25, 22, 38, 0.8);
                content: '';
                z-index: 1;
            }
        }
    }
    .dropdown-menu {
        position: fixed;
        left: 0;
        top: 45px;
        margin-top: 0;
        background: $darkgrey;
        .dropdown-item {
            color: $white;
            padding: 10px 30px;
            i {
                color: $pink;
            }
            &:focus,
            &:hover {
                background-color: $pink;
                i {
                    color: $white;
                }
            }
        }
    }
}