body {
    font-family: 'Poppins';
    background-color: $black;
}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $white;
    }
}

p {
    margin-bottom: 0;
    color: $white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 600;
    font-size: 1.375rem;
    color: $white;
    span {
        font-size: 1.25rem;
    }
}

h2 {
    font-weight: 800;
    font-size: 1.25rem;
    color: $white;
}

h3 {
    font-weight: 600;
    font-size: 1.125rem;
    color: $white;
}

h4 {
    font-weight: 800;
    font-size: 1.125rem;
    color: $midnightblue;
}

.subscription-title {
    font-weight: 600;
    font-size: 1rem;
    color: $white;
}

.title {
    font-weight: 500;
    font-size: 0.75rem;
    color: $pink;
}

.subtitle {
    font-weight: 500;
    font-size: 0.875rem;
    color: $white;
}

.description {
    font-weight: 500;
    font-size: 0.75rem;
    color: $white;
}

.product-description {
    font-size: 0.75rem;
}

.text-secondary {
    color: $darkgrey!important;
}

.text-muted {
    color: $silver!important;
}

.text-pink {
    color: $deeppink;
}

.text-primary {
    color: $midnightblue!important;
}

.text-violet-red {
    color: $mediumvioletred;
}

.text-danger {
    color: $pink!important;
}

.bg-primary {
    background: $midnightblue!important;
}

.bg-light {
    background: #F7F8F9!important;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.063rem;
        span {
            font-size: 2.75rem;
        }
    }
    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    .subtitle {
        font-size: 1.375rem;
    }
    .title {
        font-size: 0.875rem;
    }
    .description {
        font-size: 0.875rem;
    }
    .product-description {
        font-size: 1rem;
    }
    .pt-22px {
        padding-top: 90px!important;
    }
    .subscription-title {
        font-size: 1.25rem;
    }
}