.rounded-4 {
    border-radius: 0.438rem!important;
}

.rounded {
    border-radius: 1.438!important;
}

.shadow {
    box-shadow: 0px 4.174px 4.174px rgba(0, 0, 0, 0.25)!important;
}

.font-size-9px {
    font-size: 9px;
}

.font-size-10px {
    font-size: 10px!important;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-36px {
    font-size: 36px;
}

.pt-22px {
    padding-top: 22px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-70px {
    padding-top: 70px;
}

.pt-140px {
    padding-top: 140px;
}

.pt-160px {
    padding-top: 160px;
}

.pb-140px {
    padding-bottom: 140px;
}

.mt-30px {
    margin-top: 30px;
}

.cursor-pointer {
    cursor: pointer;
}

.fw-500 {
    font-weight: 500;
}

@media (min-width: 1200px) {
    .mb-lg-300px {
        margin-bottom: 300px;
    }
}

@media (min-width: 1200px) {
    .font-size-10px {
        font-size: 14px;
    }
    .font-size-11px {
        font-size: 17px;
    }
    .font-size-13px {
        font-size: 20px;
    }
    .font-size-xl-30px {
        font-size: 30px;
    }
}

@media (max-width: 414px) {
    .pb-140px {
        padding-bottom: 90px;
    }
}