.rounded-4 {
    border-radius: 0.438rem!important;
}

.rounded {
    border-radius: 1.438!important;
}

.rounded-top {
    border-top-left-radius: 0.75rem!important;
    border-top-right-radius: 0.75rem!important;
}

.shadow {
    box-shadow: 0px 4.174px 4.174px rgba(0, 0, 0, 0.25)!important;
}

.border-5 {
    border: 7px solid $pink!important;
}

.font-size-9px {
    font-size: 9px;
}

.font-size-10px {
    font-size: 10px;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-36px {
    font-size: 36px;
}

.pt-22px {
    padding-top: 22px;
}

.pt-64px {
    padding-top: 64px;
}

.pt-72px {
    padding-top: 72px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-140px {
    padding-top: 140px;
}

.pt-160px {
    padding-top: 160px;
}

.pb-140px {
    padding-bottom: 140px;
}

.mt-30px {
    margin-top: 30px;
}

.cursor-pointer {
    cursor: pointer;
}

.fw-500 {
    font-weight: 500;
}

.w-16 {
    width: 16%;
}

.h-16 {
    height: 16%;
}

.h-29 {
    height: 29px;
}

.w-22px {
    width: 22px;
}

.w-290px {
    width: 290px;
}

.h-290px {
    height: 290px;
}

@media (min-width: 1200px) {
    .font-size-9px {
        font-size: 0.75rem;
    }
    .font-size-10px {
        font-size: 0.875rem;
    }
    .font-size-12px {
        font-size: 1.125rem;
    }
    .font-size-11px {
        font-size: 1.063rem;
    }
    .font-size-13px {
        font-size: 1.25rem;
    }
    .font-size-14px {
        font-size: 1.125rem;
    }
    .font-size-xl-30px {
        font-size: 1.875rem;
    }
    .mb-lg-300px {
        margin-bottom: 300px;
    }
}

@media (max-width: 414px) {
    .pb-140px {
        padding-bottom: 90px;
    }
}

@media (min-width: 414px) {
    .w-16 {
        width: 8%;
    }
    .h-16 {
        height: 8%;
    }
}

@media (min-width: 414px) {
    .pt-64px {
        padding-top: 72px;
    }
    .pt-80px {
        padding-top: 95px;
    }
}