$white: #FFFFFF;
$black: #090919;
$darkgrey: #191626;
$midnightblue: #2D2942;
$silver: #9E9E9E;
$fuchsia: #FC4964;
$deeppink: #F54B64;
$pink: #FF4A65;
$hotpink: #FF4B65;
$red: #FF3038;
$tomato:#FF4D56;
$mediumvioletred: #FF4AC1;